header {
  /* White background for better contrast */
  background-color: #fff;
  height: 70px;
  width: 100%;
  /* Lighter border for contrast */
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.logo {
  max-width: 100%;
  width: 100%;
  height: 100%;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 20px;
}
