/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #484848;
  }

  .page-content {
    position: relative;
    min-height: calc(100vh - 130px); /* 70px header + 60px footer */
    padding-top: 30px;
  }

  .container {
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .flexible-space {
    flex: 1;
  }
